<div class="mt-2 bg-light">
  <div class="tasks container">
    <div class="row">
      <div class="task-container col-md-3 p-2">
        <div class="bg-white rounded-4 p-2">
          <div
            class="header-cart d-flex align-items-center justify-content-between p-2"
          >
            <div
              class="star-container text-secondary bg-light rounded-circle d-flex justify-content-center align-items-center"
            >
              <i class="fa-regular fa-star"></i>
            </div>
            <span class="text-secondary">Task Completed</span>
            <span class="fw-bold">08</span>
          </div>
          <div class="line bg-light my-1 mx-auto"></div>
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div id="chart" class="chart">
              <canvas id="chart2"></canvas>
            </div>
            <div class="text text-secondary">
              <span><span class="text-success">10+</span>more</span>
              <p>from last week</p>
            </div>
          </div>
        </div>
      </div>
      <div class="task-container col-md-3 p-2">
        <div class="bg-white rounded-4 p-2">
          <div
            class="header-cart d-flex align-items-center justify-content-between p-2"
          >
            <div
              class="star-container text-secondary bg-light rounded-circle d-flex justify-content-center align-items-center"
            >
              <i class="fa-regular fa-file-lines"></i>
            </div>
            <span class="text-secondary">New Task</span>
            <span class="fw-bold">10</span>
          </div>
          <div class="line bg-light my-1 mx-auto"></div>
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div id="chart" class="chart">
              <canvas id="chart3"></canvas>
            </div>
            <div class="text text-secondary">
              <span><span class="text-success">10+</span>more</span>
              <p>from last week</p>
            </div>
          </div>
        </div>
      </div>
      <div class="task-container col-md-3 p-2">
        <div class="bg-white rounded-4 p-2">
          <div
            class="header-cart d-flex align-items-center justify-content-between p-2"
          >
            <div
              class="star-container text-secondary bg-light rounded-circle d-flex justify-content-center align-items-center"
            >
              <i class="fa-regular fa-file-lines"></i>
            </div>
            <span class="text-secondary">New Task</span>
            <span class="fw-bold">10</span>
          </div>
          <div class="line bg-light my-1 mx-auto"></div>
          <div class="p-4 d-flex justify-content-between align-items-center">
            <div id="chart" class="chart">
              <canvas id="chart4"></canvas>
            </div>
            <div class="text text-secondary">
              <span><span class="text-success">10+</span>more</span>
              <p>from last week</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="charts-section rounded-4 p-3">
    <div id="divChart" class="ms-4 ps-5 mt-2 bg-white">
      <div class="title d-flex justify-content-between align-items-center px-1">
        <span class="fw-bold">Task Done</span>
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link text-dark">Daily</a>
          <a class="flex-sm-fill text-sm-center nav-link text-dark">Weekly</a>
          <a
            class="flex-sm-fill text-sm-center nav-link text-primary border-bottom border-primary"
            >Monthly</a
          >
        </nav>
      </div>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
<div class="final-sec mt-5">
  <div class="tasks-final-section">
    <h6>Task</h6>
    <div
      class="task mt-3 d-flex p-2 justify-content-between align-items-center bg-white rounded-4"
    >
      <div class="icon-video px-2">
        <i class="fa-solid fa-circle-play fs-5 text-primary"></i>
      </div>
      <div class="start px-2">
        <p><span>Start from</span></p>
        <span class="text-secondary"
          ><i class="fa-regular fa-clock"></i> 09:00 am
        </span>
      </div>
      <div class="search px-4">
        <p>Search Inspiration for project</p>
        <div class="contact d-flex justify-content-between align-items-center">
          <div class="link">
            <i class="fa-solid fa-link me-2 text-secondary"></i>
            <a href="" class="link-primary">www.uistore.com</a>
          </div>
          <div class="comments ms-3 text-secondary">
            <i class="fa-regular fa-comment me-2"></i>
            <span>Comments</span>
          </div>
        </div>
      </div>
      <div class="completeness px-4">
        <span>24% complete</span>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px; width: 200px"
        >
          <div class="progress-bar" style="width: 24%"></div>
        </div>
      </div>
      <div
        class="reminder text-primar px-4 py-2 d-flex justify-content-between align-items-center rounded-4 px-2 bg-light"
      >
        <i class="fa-solid fa-stopwatch me-2"></i>
        <span>reminder</span>
      </div>
    </div>
    <div
      class="task mt-3 d-flex p-2 justify-content-between align-items-center bg-white rounded-4"
    >
      <div class="icon-video px-2">
        <i class="fa-solid fa-circle-play fs-5 text-primary"></i>
      </div>
      <div class="start px-2">
        <p><span>Start from</span></p>
        <span class="text-secondary"
          ><i class="fa-regular fa-clock"></i> 03:00 am
        </span>
      </div>
      <div class="search px-4">
        <p>Search Inspiration for project</p>
        <div class="contact d-flex justify-content-between align-items-center">
          <div class="link">
            <i class="fa-solid fa-link me-2 text-secondary"></i>
            <a href="" class="link-primary">www.uistore.com</a>
          </div>
          <div class="comments ms-3 text-secondary">
            <i class="fa-regular fa-comment me-2"></i>
            <span>Comments</span>
          </div>
        </div>
      </div>
      <div class="completeness px-4">
        <span>60% complete</span>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px; width: 200px"
        >
          <div class="progress-bar" style="width: 60%"></div>
        </div>
      </div>
      <div
        class="reminder text-primar px-4 py-2 d-flex justify-content-between align-items-center rounded-4 px-2 bg-light"
      >
        <i class="fa-solid fa-stopwatch me-2"></i>
        <span>reminder</span>
      </div>
    </div>
  </div>
</div>
