<header>
  <nav id="sidebarMenu" class="p-1">
    <div class="list-group list-group-flush mx-3">
      <div
        class="schedual-section d-flex justify-content-between align-item-3-center mb-1"
      >
        <span class="fw-bold">Today’s Scheudle</span>
        <div
          class="icons-section d-flex justify-content-between p-1 rounded-pill bg-light align-items-center"
        >
          <i class="fa-solid fa-border-all p-1 text-secondary"></i>
          <i class="fa-regular fa-calendar-days p-1"></i>
        </div>
      </div>
      <div class="call-title d-flex justify-content-between align-items-center">
        <div class="call-text">
          <p class="text-primary m-0">30 minute call with Client</p>
          <span class="p-0 m-0 fw-bold">Project Discovery Call</span>
        </div>
        <div
          class="invite-section text-primary d-flex justify-content-between align-items-center"
        >
          <p class="p-1">+</p>
          <p>invite</p>
        </div>
      </div>
      <div
        class="call-details text-white d-flex justify-content-between align-items-center py-1 px-2 border rounded-3 mt-1"
      >
        <div class="pepole d-flex">
          <div class="person position-relative">
            <img src="../../assets/images.jpg" alt="person" />
          </div>
          <div class="person person1 position-relative">
            <img src="../../assets/images.jpg" alt="person" />
          </div>
          <div class="person person2 position-relative">
            <img src="../../assets/images.jpg" alt="person" />
          </div>
          <div class="person person3 position-relative">
            <img src="../../assets/images.jpg" alt="person" />
          </div>
        </div>
        <div class="duration pt-3">
          <p>28:35</p>
        </div>
        <div class="call-icon">
          <i class="fa-solid fa-phone-volume me-3"></i>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
      </div>
      <div class="line bg-light mx-auto"></div>
      <div class="messages-section">
        <p class="fw-bold">Messages</p>
        <div
          class="person-info d-flex justify-content-start align-items-center"
        >
          <div class="image-conatiner border border-primary">
            <div class="image-border border">
              <img
                src="../../assets/images.jpg"
                alt="person"
                class="w-100 h-100"
              />
            </div>
          </div>
          <div class="info-text ms-2 pt-1">
            <span>Yassin Mustafa</span>
            <p class="text-secondary">Hi Angelina! How are You?</p>
          </div>
        </div>
        <div
          class="person-info d-flex justify-content-start align-items-center"
        >
          <div class="image-conatiner border border-primary">
            <div class="image-border border">
              <img
                src="../../assets/images.jpg"
                alt="person"
                class="w-100 h-100"
              />
            </div>
          </div>
          <div class="info-text ms-2 pt-1">
            <span>Yassin Mustafa</span>
            <p class="text-secondary">Hi Angelina! How are You?</p>
          </div>
        </div>
        <div
          class="person-info d-flex justify-content-start align-items-center"
        >
          <div class="image-conatiner border border-primary">
            <div class="image-border border">
              <img
                src="../../assets/images.jpg"
                alt="person"
                class="w-100 h-100"
              />
            </div>
          </div>
          <div class="info-text ms-2 pt-1">
            <span>Yassin Mustafa</span>
            <p class="text-secondary">Hi Angelina! How are You?</p>
          </div>
        </div>
        <div
          class="person-info d-flex justify-content-start align-items-center"
        >
          <div class="image-conatiner border border-primary">
            <div class="image-border border">
              <img
                src="../../assets/images.jpg"
                alt="person"
                class="w-100 h-100"
              />
            </div>
          </div>
          <div class="info-text ms-2 pt-1">
            <span>Yassin Mustafa</span>
            <p class="text-secondary">Hi Angelina! How are You?</p>
          </div>
        </div>
      </div>
      <div class="tasks">
        <span class="fw-bold"> New Task </span>
        <div class="form-input">
          <label class="text-secondary form-label"> task title </label>
          <input type="text" class="bg-light form-control" />
        </div>
        <div class="emoji-selector d-flex mx-auto text-center">
          <div class="emoji">
            <h6>
              <i class="fa-solid fa-chevron-left text-primary"></i>
            </h6>
          </div>
          <div class="emoji">
            <h6>🎉</h6>
          </div>
          <div class="emoji">
            <h6>😍</h6>
          </div>
          <div class="emoji">
            <h6>😄</h6>
          </div>
          <div class="emoji">
            <h6>🔥</h6>
          </div>
          <div class="emoji">
            <h6>😘</h6>
          </div>
          <div class="emoji">
            <h6>😉</h6>
          </div>
          <div class="emoji">
            <h6>😎</h6>
          </div>
          <div class="emoji">
            <h6>👧🏼</h6>
          </div>
          <div class="emoji">
            <h6>🙄</h6>
          </div>
          <div class="emoji">
            <h6>
              <i class="fa-solid fa-chevron-right text-primary"></i>
            </h6>
          </div>
        </div>
      </div>
      <div class="collaborations">
        <p>Add Collaborators</p>
        <div
          class="added-collaborators d-flex justify-content-between align-items-center"
        >
          <div
            class="person-name px-2 d-flex justify-content-between align-items-center bg-light border rounded-pill"
          >
            <div class="person-col">
              <img
                src="../../assets/images.jpg"
                alt="person"
                class="w-100 h-100"
              />
            </div>
            <span class="pt-0 px-2">Yassine</span>
            <span><i class="fa-solid fa-xmark"></i></span>
          </div>
          <div
            class="person-name d-flex justify-content-between align-items-center bg-light border rounded-pill px-2"
          >
            <div class="person-col">
              <img
                src="../../assets/images.jpg"
                alt="person"
                class="w-100 h-100"
              />
            </div>
            <span class="px-2">Yassine</span>
            <span><i class="fa-solid fa-xmark"></i></span>
          </div>
          <div class="plus border rounded-circle bg-light p-1 px-2">
            <i class="fa-solid fa-plus"></i>
          </div>
          <div class="arrow border rounded-circle bg-primary p-1 px-2">
            <i class="fa-solid fa-chevron-right"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
