<header>
  <nav id="sidebarMenu" class="p-2">
    <div class="list-group list-group-flush mx-3 mt-4">
      <div class="icon p-2">
        <i class="fa-solid fa-border-all fs-4"></i>
      </div>
      <div class="icon p-2">
        <mat-icon class="fs-4">layers</mat-icon>
      </div>
      <div class="icon p-2">
        <i class="fa-solid fa-book-open fs-4"></i>
      </div>
      <div class="icon p-2">
        <mat-icon class="fs-4">settings_outline</mat-icon>
      </div>
      <div class="icon p-2">
        <mat-icon class="fs-4">send</mat-icon>
      </div>
      <div class="icon p-2">
        <mat-icon class="fs-4">create_new_folder_outline</mat-icon>
      </div>
    </div>
  </nav>
</header>
